{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <h2>Ask a question</h2>

    <form id="ask-question-form" method="post" action="{{ url_for('main.ask_question') }}" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}

        {{ wtf.form_field(form.title) }}
        {{ wtf.form_field(form.content) }}

        <div class="form-group">
            <label for="add-tag-input">Tags</label>

            <div class="input-group">
                <input type="text" id="add-tag-input" class="form-control">

                <span class="input-group-btn">
                    <button id="add-tag-button" class="btn btn-default" type="button">Add</button>
                </span>
            </div>
        </div>


        <div id="tags-container"></div>

        <input type="hidden" id="tags" name="tags" value="">

        <input class="btn btn-default" id="submit-button" name="submit-button" type="submit" value="Submit">
    </form>
{% endblock %}
