{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <div class="row">
        <!-- Metadata sidebar -->
        <div class="col-sm-4 col-sm-push-8">
            <p>Author: <a href="{{ url_for('main.show_user', username=question.author.username) }}">{{ question.author.username }}</a></p>
            <p>Asked: {{ moment(question.timestamp).fromNow(refresh=True) }}</p>
        </div>

        <!-- Question title and content -->
        <div class="col-sm-8 col-sm-pull-4">
            <h2>{{ question.title }}</h2>

            <p>{{ question.content }}</p>


            <hr>

            <h2>Answers:</h2>

            {% for answer in answers %}
                <p>{{ answer.content }}</p>
            {% endfor %}

            <hr>

            {% if current_user.is_authenticated %}
                {% set action %}{{ url_for('main.answer_question', question_id=question.id) }}{% endset %}
                {{ wtf.quick_form(form, action=action) }}
            {% else %}
                <p><a href="{{ url_for('auth.login') }}">Log in</a> or <a href="{{ url_for('auth.register') }}">register</a> to answer this question.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
